
<fieldset>
    <legend>
        <label for="scales">Entity: writers</label>
        <input type="checkbox" id="writers" name="writers" value= "writers" />
    </legend>
    <div id = writersCheckbox>
        <div>
            <input type="checkbox" id="writer-id" name="writer-id" value= "id" />
            <label for="scales">writer-id</label>
            <input type="checkbox" id="writer-username" name="writer-username" value= "username" />
            <label for="horns">writer-username</label>
            <input type="checkbox" id="writer-nickname" name="writer-nickname" value= "nickname" />
            <label for="horns">writer-nickname</label>
            <input type="checkbox" id="writer-email" name="writer-email" value= "email" />
            <label for="horns">writer-email</label>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>
        <label for="scales">Entity: comments</label>
        <input type="checkbox" id="comments" name="comments" value= "comments" />
    </legend>
    <div id = commentsCheckbox>
        <div>
            <input type="checkbox" id="comment-id" name="comment-id" value= "id" />
            <label for="scales">comment-id</label>
            <input type="checkbox" id="comment-title" name="comment-title" value= "title" />
            <label for="horns">comment-title</label>
            <input type="checkbox" id="comment-sentence" name="comment-sentence" value= "sentence" />
            <label for="horns">comment-sentence</label>
            <input type="checkbox" id="comment-writer" name="comment-writer" value= "writer" />
            <label for="horns">comment-writer</label>
            <input type="checkbox" id="comment-category" name="comment-category" value= "category" />
            <label for="horns">comment-category</label>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>
        <label for="scales">Entity: categories</label>
        <input type="checkbox" id="categories" name="categories" value= "categories" />
    </legend>
    <div id = categoriesCheckbox>
        <div>
            <input type="checkbox" id="category-id" name="category[0]" value= "3" />
            <label for="scales">Scales</label>
            <input type="checkbox" id="category[1]" name="category[1]" value= "31"  />
            <label for="horns">Horns</label>
        </div>
    </div>
</fieldset>