<fieldset>
    <legend>
        <label for="scales">Delete: writer-ID</label>
    </legend>
        <input type="number" id="writer-delete-id" name="writer-delete-id" />
</fieldset>
<fieldset>
    <legend>
        <label for="scales">Delete: comment-ID</label>
    </legend>
        <input type="number" id="comment-delete-id" name="comment-delete-id" />
</fieldset>
<fieldset>
    <legend>
        <label for="scales">Delete: category-ID</label>
    </legend>
        <input type="number" id="category-delete-id" name="category-delete-id" />
</fieldset>
