{% extends 'base.html.twig' %}

{% block title %}Twitter!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!</h1>

    <p>{{ react_component('Hello', { 'fullName': 11 }) }}</p>
    <form>
        {% include 'form/fieldSetAllRecord.html.twig' %}
        {% include 'form/fieldSetRecord.html.twig' %}
        {% include 'form/fieldSetDeleteRecord.html.twig' %}
        {% include 'form/fieldSetUpdateRecord.html.twig' %}
        <button type="submit">送信</button>
    </form>
    <div>
        <div id= getApi></div>
    </div>

</div>
{% endblock %}
